@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Proyecto Final Programacion 1</h1>
    <p class="lead">Esto es un sistema web, que consta de 3 modulos, los cuales son: Clientes, Productos y Despacho</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Clientes</h2>
        <p>
            Este modulo de cliente permite crear y gestionar a los clientes,
            podemos realizar una busqueda por su nombre y podemos encontrar sus datos.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Productos</h2>
        <p>
            Este modulo de cliente permite crear y gestionar a los productos,
            podemos realizar una busqueda por su nombre y podemos encontrar sus datos.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Despacho</h2>
        <p>En este modulo podemos realizar la entrada o salidad de productos por su cliente</p>
    </div>
</div>